.blog-display-container {
    border: 10px solid #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 50px;
}

.blog-display-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.blog-display-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.blog-display-category {
    color: #888;
    margin-bottom: 15px;
}

.blog-display-desc {
    text-align: justify;
}
