.display_block {
  display: block;
  width: 60%;
}
.display_none {
  display: none;
}
.p13 {
  padding: 13px;
}
.fontFamily_Roboto_sans_serif {
  font-family: Roboto, sans-serif;
}

.uploadButtonsContainer {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: flex-start;
}

.loaderContainer {
  background: #19bc9c;
  padding: 10px;
  border-radius: 9px;
  width: 200px;
}
.conatiner {
  display: flex;
  height: 100vh;
  width: 100%;
}
.apiResponseContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
}

.apiResponseHeading {
  font-size: 24px;
  font-weight: 500;
}

.pdfDisplayStyle {
  width: 60%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.generateButtonStyle {
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}
.pdfSelectionContainerStyle {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  gap: 15px;
}
.pdfViewerContainerStyle {
  padding: 120px 20px 20px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.pdfPreview {
  cursor: pointer;
  padding: 20px; /* Adjust padding as needed */
  margin: 5px;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transitions for both properties */
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow, adjust as needed */
}

.selectedPdf {
  border: 2px solid #017bfe;
}

.unselectedPdf {
  border: 2px solid rgb(233, 232, 232);
}

.activeStep {
  background-color: blue; /* Or use border-color, color, etc., depending on your design */
}

.stepperClassName .stepClassName.activeStep {
  background-color: blue !important;
}
.StepButton-d0-0-2-6.completed {
  background-color: #017bfe !important;
}
.StepButton-d2-0-2-12.active {
  background-color: #9ac2ed !important;
}

.StepButton-d2-0-2-12.completed {
  background-color: #017bfe !important;
}
.StepButton-d4-0-2-20.active {
  background-color: #9ac2ed !important;
}
.StepButton-d4-0-2-20.completed {
  background-color: #017bfe !important;
}

.StepButton-d6-0-2-26.completed {
  background-color: blue !important;
}
.StepButton-d8-0-2-30.active {
  background-color: #9ac2ed !important;
}

/* UploadPdf.css */
.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 16px;
  font-weight: 600;
}

.dropdownContainer{
  padding: 10px;
}
.uploadInputField{
  border: 1px solid #9ac2ed;
  padding: 5px;
  border-radius: 10px;
}
.apiResponseContainerForUploadDoc {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
}