.fata{
    background-color: aquamarine;
}

.display_block{
    display: block;
}
.display_none{
    display: none;
}
.p13{
    padding: 13px;
}
.fontFamily_Roboto_sans_serif{
    font-family: 'Roboto', sans-serif;
}