.home-title {
  font-size: 24px;
  color: #ffffff;
  /* other styles for your title */
}

.main-point {
padding-left:100px
  /* other styles for your title */
}

.section-padding {
padding-bottom:250px
  /* other styles for your title */
}

.custom-bullet-list {
  list-style: none; /* removes default bullets */
  padding: 0;
  margin: 0;
  text-align: left;
}

.custom-bullet-list li strong {
  /* Styles for the list item titles */
  display: block; /* Make the title block-level to ensure it appears above the description */
  margin-bottom: 0.5em; /* Space between the title and the description */
  font-size: 1.2em; /* Larger font size for the title */
  font-weight: bold; /* If you want to ensure it's bold, though <strong> usually is by default */
}

.custom-bullet-list li::before {
  content: '•'; /* custom bullet */
  color: #5b9bd5; /* bullet color */
  font-weight: bold; /* bullet style */
  display: inline-block;
  width: 1em; /* space between bullet and text */
  margin-left: -1em; /* align bullets with the text above */
}

.custom-bullet-list li {
  color: #ffffff; /* text color */
  padding: 0.5em 0; /* space between items */
  /* other styles for your list items */
}

.home-desc {
  color: #ffffff;
  padding-top: 1em; /* space above the description */
  /* other styles for your description */
}
